
html, body, * {
  margin: 0;
  padding: 0;
  font-family: 'vazir';
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: linear-gradient(90deg, hsla(150, 9%, 9%, 0.9) 0%, hsla(270, 83%, 12%, 1) 100%);


  input {
    font-size: 1.3rem;
  }

  input[type="button"] {
    background: linear-gradient(120deg, hsla(220, 13%, 87%, 0.9) 0%, hsla(220, 5%, 37%, 1) 100%);
    cursor: pointer;
    text-align: center;
    transition: transform .2s linear;
  }

  input[type="button"]:active {
    background-color: black !important;
    color: #f0f2f8 !important;
    transform: scale(.8);
  }

  .calculator {
    position: relative;
    background-color: #f0f2f8;
    padding: 5px;
    min-width: 300px;
    min-height: 500px;
    border: none;
    border-radius: 16px;
    box-shadow: 3px 1px 3px 1px #f0f2f8;

    .calculator_display {


      .showCalc {
        position: absolute;
        top: 30px;
        right: 20px;
        font-size: 1.1rem;
        color: #7a7a7a;
      }

      .display {
        background-color: #f0f2f8;
        padding: 10px;
        border: none;
        min-height: 150px;
        min-width: 250px;
        font-size: 1.5rem;
        outline: none;
        text-align: right;
      }
    }

    .calculator_body {
      .row {
        text-align: center;
      }

      .opt-btn {
        border: none;
        min-width: 60px;
        margin: 5px;
        height: 35px;
        border-radius: 16px;

      }

      .btn {
        margin: 10px 5px;
        border: none;
        width: 60px;
        height: 50px;
        border-radius: 28px;
      }

      .btn-math {
        background: linear-gradient(120deg, hsla(35, 100%, 50%, 0.9) 0%, hsla(35, 93%, 18%, 1) 100%);        color: #f0f2f8;
      }

      .btn.clear {
        background: linear-gradient(120deg, hsla(0, 94%, 65%, 0.9) 0%, hsla(0, 51%, 28%, 1) 100%);      }

      .btn.equal {
        background: linear-gradient(120deg, hsla(163, 100%, 50%, 0.9) 0%, hsla(164, 100%, 13%, 1) 100%);        color: #f0f2f8;
      }

      .btn.zero {
        min-width: 135px;

      }
    }
  }
}